
@{
    ViewData["Title"] = "clients";
    Layout = "~/Views/layouts/waypoint_Layout.cshtml";
}
<div id="content" class="span10">
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-user-md"></i><span class="break"></span>Clients</h2>
                <div class="box-icon">
                    <a href="client_detail.php?task=add" class="btn-link"><i class="icon-plus-sign"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                    <div class="row-fluid">
                        <div class="span3"><div class="dataTables_info" id="DataTables_Table_0_info">Showing 0 to 0 of 0 entries</div><div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="500">500</option><option value="100" selected="selected">100</option><option value="50">50</option><option value="25">25</option><option value="-1">All</option></select> records per page</label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="next disabled"><a href="#">Next → </a></li></ul></div></div><div class="span3"><div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div><table class="table table-condensed table-striped table-bordered datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 238px;">Username</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending" style="width: 253px;">First Name</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" style="width: 248px;">Last Name</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Permissions: activate to sort column ascending" style="width: 287px;">Permissions</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Options: activate to sort column ascending" style="width: 193px;">Options</th></tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No data available in table</td></tr></tbody>
                        </table><div class="row-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>