
@{
    ViewData["Title"] = "reports";
    Layout = "~/Views/layouts/waypoint_Layout.cshtml";
}

<div id="content" class="span10">
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header" data-original-title="">
                <h2><i class="icon-envelope"></i><span class="break"></span>Reports</h2>
            </div>
            <div class="box-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                    <div class="row-fluid">
                        <div class="span3"><div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 1 of 1 entries</div><div id="DataTables_Table_0_length" class="dataTables_length"><label><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"><option value="500">500</option><option value="100" selected="selected">100</option><option value="50">50</option><option value="25">25</option><option value="-1">All</option></select> records per page</label></div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li class="next disabled"><a href="#">Next → </a></li></ul></div></div><div class="span3"><div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div></div><table class="table table-condensed table-striped table-bordered datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 72px;">ID</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 679px;">Name</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 266px;">Description</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Options: activate to sort column ascending" style="width: 192px;">Options</th></tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                <tr class="odd">
                                    <td class="center  sorting_1">1</td>
                                    <td class="center "><a href="report_detail.php?report=1">Daily Counts of Leads Per Source</a></td>
                                    <td class="center "></td>
                                    <td nowrap="" class="center ">
                                        <a class="btn btn-danger" href="business_logic/execute.php?task=rmreport&amp;reportid=1" onclick="return confirm('Are you sure you want to delete this report?');" title="" data-rel="tooltip" data-original-title="Delete this report">
                                            <i class="icon-trash "></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table><div class="row-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

