
@{
    ViewData["Title"] = "servertime";
    Layout = "~/Views/layouts/waypoint_Layout.cshtml";
}
<div id="content" class="span10">
    <div class="row-fluid">
<h1>Server Date Time:@DateTime.Now.ToShortDateString()  @DateTime.Now.ToLongTimeString();</h1>

</div>
</div>

